{
  "chmod": "0755",
  "compression": "GZ",
  "directories": [
    "src"
  ],
  "files": [
    "README.md",
    ".horde.yml"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": [
        "tests",
        "test"
      ],
      "in": "vendor"
    },
    {
      "name": "*",
      "in": "vendor/horde/argv/locale"
    },
    {
      "name": "*",
      "in": "vendor/horde/cli/locale"
    },
    {
      "name": "*",
      "in": "vendor/horde/exception/locale"
    }
  ],
  "git-version": false,
  "intercept": true,
  "main": "bin/hordectl",
  "output": "build/hordectl.phar",
  "stub": true
}
